---
import { Image } from "astro:assets";
import projectItem2 from "../img/project-2.webp";
import projectItem4 from "../img/project-4.webp";
import projectItem1 from "../img/project-1.webp";
import projectItem5 from "../img/project-5.webp";
import projectItem3 from "../img/project-3.webp";
import projectItem6 from "../img/project-6.webp";
import projectItem8 from "../img/project-8.webp";
import projectItem7 from "../img/project-7.webp";
import projectItem9 from "../img/project-9.webp";
---

<div class="slider m-auto relative flex items-center overflow-hidden w-full mt-[-54px]">
    <div class="slider-track flex w-[calc[250px * 7)] animate-scroll my-3">
        <div class="slide">
            <a title="Xplora project" href="/projects">
                <Image src={projectItem1} alt="Smart time project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Dstudio project" href="/projects">
                <Image src={projectItem2} alt="Dstudio project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Moonshine project" href="/projects">
                <Image src={projectItem3} alt="Moonshine project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Plants project" href="/projects">
                <Image src={projectItem4} alt="Plants project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Cranbery progress project" href="/projects">
                <Image src={projectItem5} alt="Cranbery progress project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Tractpay project" href="/projects">
                <Image src={projectItem6} alt="Tractpay project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Marketing agency project" href="/projects">
                <Image src={projectItem7} alt="Marketing agency project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Cranbery beauty project" href="/projects">
                <Image src={projectItem8} alt="Cranbery beauty project"/>
            </a>
        </div>
        <div class="slide">
            <a title="Tool finder project" href="/projects">
                <Image src={projectItem9} alt="Tool finder project"/>
            </a>
        </div>
    </div>
</div>