---
import { Image } from "astro:assets";
import projectItem from "../img/project-1.webp";
import projectItem1 from "../img/project-2.webp";
---

<div class="slider m-auto relative flex items-center overflow-hidden w-full mt-[-54px]">
    <div class="slider-track flex w-[calc[250px * 7)] animate-scroll my-3">
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem1} alt="project-item" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
        <div class="slide">
            <a href="/projects">
                <Image src={projectItem} alt="project-item" width="268" loading="eager"/>
            </a>
        </div>
    </div>
</div>